#table-product-management > tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #fff;
}
#table-product-management > #table-product-management > td,
#table-product-management > th {
  border: 1px solid black;
  padding: 15px;
}
#table-product-management > tr:hover {
  background-color: #d6eeee;
}
#table-product-management > th {
  background-color: var(--color-dark-electric-blue-2);
}
#table-product-management > td {
  background-color: #4a6176;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #394f62;
}
::-webkit-scrollbar-thumb {
  background: #6d8da6;
}
::-webkit-scrollbar-thumb:hover {
  background: #8ab5d6;
}
#table-product-management > input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #394e64;
  background-position: center;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  transition: all 0.1s linear;
}
#table-product-management > input[type="checkbox"]:checked {
  background: url("../../../../public/icon/iconCheckMark.png") #394e64 center
    no-repeat;
}
#table-product-management > input[type="checkbox"]:focus {
  outline: 0 none;
  box-shadow: none;
}
