:root {
  --color-royal-blue: #4e73df;
  --color-languid-lavender: #d1d3e2;
  --color-maya-blue: #66c2ff;
  --color-violet-blue: #747ec2;
  --color-royal-grey: #818181;
  --color-royal-pink: #ed0891;
  --color-royal-black: #202020;
  --color-royal-red: #ee1c25;
  --color-royal-white: #f8f9fc;
  --color-royal-green: #00b050;
  --color-disable-pad: #006a30;
  --color-spanish-gray: #999999;
  --color-border-pad-btn: #00863d;
  --color-royal-skyblue: #25b6dc;
  --color-french-gray: #babbbf;
  --color-han-blue: #4472c4;
  --color-mexican-pink: #ec008d;
  --height-content: 768px;
  --width-content: 1024px;
  --color-lavender: #e8ebff;
  --color-silver-chalice: #dcdcdc;
  --color-silver-chalice-royal: #a5a5a5;
  --color-azure-radiance: #0099ff;
  --color-pattens-blue: #d5efff;
  --color-pink-lace: #ffddff;
  --color-geraldine: #ff7c80;
  --color-tidal: #dbffb7;
  --color-olivine: #a7cb83;
  --color-tart-orange: #f74747;
  --color-bluebonnet: #2f25ff;
  --color-melon: #faafaf;
  --color-electric-blue: #85eafe;
  --color-screamin-green: #6eff7e;
  --color-chrome-yellow: #f9aa03;
  --color-light-silver: #d6d6d6;
  --color-portafino: #fff9ad;
  --color-gallery: #f0f0f0;
  --color-perano: #9eb2ed;
  --color-turquoise-surf: #00b1cf;
  --color-melon-1: #ffaca8;
  --color-light-pink: #ffbcbc;
  --color-battery-charged-blue: #23b5dc;
  --color-lavender-blush: #fff2f2;
  --color-pastel-red: #ff6969;
  --color-liver-chestnut: #53482f;
  --color-naples-yellow: #ffcd5e;
  --color-american-yellow: #efa500;
  --color-seashell: #ffeeee;
  --color-cosmic-latte: #fff7e8;
  --color-spanish-gray-1: #9a9a9a;
  --color-azure: #f2fcff;
  --color-coral-reef: #ff716a;
  --color-coral-red: #ff3f36;
  --color-caramel: #ffdba0;
  --color-bright-yellow: #f9a51c;
  --color-shocking-pink: #ff66ff;
  --color-vivid-sky-blue: #00ccff;
  --color-light-gray: #d1d2d4;
  --color-orange-yellow: #ffcb60;
  --color-camel: #c1936e;
  --color-philippine-silver: #b2b2b2;
  --color-button-blue: #1db2ef;
  --color-mimi-pink: #fad6e5;
  --color-cornsilk: #fff3dd;
  --color-mud: #705241;
  --color-sky-blue: #72dce4;
  --color-corn: #fee665;
  --color-spanish-pink: #f6c0c0;
  --color-pear: #c6da3f;
  --color-cornflower: #96d4eb;
  --color-misty-rose: #fde7e7;
  --color-cream: #fffbd5;
  --color-ivory: #ffffeb;
  --color-bisque: #fbe8c2;
  --color-pine-tree: #2c2a2a;
  --color-water: #daf4fb;
  --color-sliver-foil: #b0b0b0;
  --color-chinese-sliver: #cdcdcd;
  --color-bright-gray: #efefef;
  --color-scarpa-flow: #58555c;
  --color-gumbo: #79a4ad;
  --color-electric-blue: #85eafe;
  --color-screamin-green: #6eff7e;
  --color-cultured: #f5f5f5;
  --color-languid-lavender: #d1d3e2;
  --color-non-photo-blue: #9cdbf7;
  --color-white: #ffffff;
  --color-languid-lavender: #d1d3e1;
  --color-cerulean-blue: #3766bb;
  --color-pale-cerulean: #a1cde1;
  --color-fresh-air: #a9e1fa;
  --color-water: #c8ecfc;
  --color-light-cyan: #ddf6ff;
  --color-yellow-cyan: #fdf199;
  --color-spray: #76d2ee;
  --color-celtic-blue: #2e59d9;
  --color-baby-blue-eyes: #a9befd;
  --color-mandarin: #ef8348;
  --color-light-gray: #d3d3d3;
  --color-light-gray-1: #d9d9d9;
  --color-deep-carmine: #ed2e2e;
  --color-lavender-gray: #c5c7d5;
  --color-platinum: #dfe2eb;
  --color-black-olive: #3a3a3a;
  --color-dark-charcoal: #333333;
  --color-silver-sand: #b7b9c9;
  --color-red: #ff0000;
  --color-red-ryb: #ff1e1e;
  --color-davy-grey: #555555;
  --color-background-orange: rgba(255, 170, 1, 0.5);
  --color-flame: #ef5222;
  --color-blue-ryb: #015bff;
  --color-verdigris: #46b0a8;
  --color-sonic-silver: #777777;
  --color-pale-pink: #fde0da;
  --color-desire: #f03156;
  --color-paradise-pink: #ef3b5d;
  --color-shampoo: #ffccff;
  --color-begonia: #ff707c;
  --color-tart-orange-2: #f94646;
  --color-ultramarine-blue: #3d6bf2;
  --color-african-violet: #bc81c2;
  --color-dew: #eeffff;
  --color-pure-blue: #00f;
  --color-light-yellow: rgb(255, 255, 224);
  --color-maximum-blue-purple: #aab3f1;
  --color-shadow: #8c7a6b;
  --color-alice-blue: rgb(243, 248, 255);
  --color-silver-approx: rgb(195, 195, 195);
  --color-chinese-silver: #ccc;
  --color-gainsboro: #dadada;
  --color-maize: #f7caac;
  --color-nevada: #6d7073;
  --color-blue-2: #0000ff;
  --color-lavender-blush-2: #ffefef;
  --color-gray-solid: rgb(125, 125, 125);
  --color-white-lilac: #e9ebf6;
  --color-electric-orange: #ff3300;
  --color-light-sky-blue: #87cefa;
  --color-light-sky-blue-2: #93c5fd;
  --color-flavescent: #ffe699;
  --color-apricot: #f8cbad;
  --color-azureish-white: #dae3f3;
  --color-light-steel-blue: #b2c4e6;
  --color-chinese-white: #e2f0d9;
  --color-cyan-process: #07b2f0;
  --color-lavender-floral: #b079d7;
  --color-carolina-blue: #5b9bd5;
  --color-ash-gray: #b6cda8;
  --color-middle-green-yellow: #9bbb59;
  --color-picton-blue: #2fb5eb;
  --color-beau-blue: #bcddeb;
  --color-deep-lilac: #964dca;
  --color-rich-lavender: #ab71d4;
  --color-amethyst: #a05fcf;
  --color-lemon-yellow-crayola: #fff5a0;
  --color-coyote-brown: #876239;
  --color-fawn: #ebaf66;
  --color-soap: #d5b8ea;
  --color-magnolia: #f4e4ff;
  --color-solitude: #e4ebfe;
  --color-mango-tango: #de7900;
  --color-ecstasy: #c26738;
  --color-fire-bush: #dea14d;
  --color-feldspar: #d49574;
  --color-bubbles: #e6f7fd;
  --color-sandy-brown: #f2a067;
  --color-serenade: #fbe5d6;
  --color-snow: #fafafa;
  --color-sun: #f6882e;
  --color-amber: #ffc000;
  --color-tacao: #f4ad7c;
  --color-tea-green: #d7e4bd;
  --color-chrome-yellow-2: #ffac00;
  --color-umber: #5f5549;
  --color-picton-blue-2: #53c1e5;

  --color-celestial-blue: #4787d1;
  --color-cyan-blue-azure: #3675c2;
  --color-cyan-blue-azure-2: #3d7cc4;
  --color-lapis-lazuli: #2c66a8;
  --color-bdazzled-blue: #24568e;
  --color-water-2: #cfe5ff;
  --color-baby-blue-eyes-2: #a7c9f2;
  --color-lavender-web: #e4ecfc;

  --color-green-crayola: #14a86a;
  --color-salem: #108554;
  --color-shamrock-green: #0b9c60;
  --color-spanish-viridian: #098250;
  --color-dartmouth-green: #086e44;
  --color-magic-mint: #beedd8;
  --color-pearl-aqua: #8ad9b7;
  --color-aero-blue: #d4f7e6;

  --color-blue-green: #039fbd;
  --color-metallic-seaweed: #068199;
  --color-blue-munsell: #0894b0;
  --color-metallic-seaweed-2: #037a94;
  --color-skobeloff: #03677d;
  --color-water-3: #cbf0f7;
  --color-middle-blue: #84d2e0;
  --color-light-cyan-2: #defbff;

  --color-light-carmine-pink: #e86764;
  --color-bittersweet-shimmer: #bf5452;
  --color-jelly-bean: #de5854;
  --color-watermelon-red: #bd3f3a;
  --color-sweet-brown: #a83834;
  --color-pale-pink-2: #ffdad9;
  --color-melon-2: #ffbcba;
  --color-linen: #ffebeb;

  --color-light-crimson: #e8698d;
  --color-fuchsia-rose: #c4496c;
  --color-dark-pink: #e3567f;
  --color-brick-red: #c73c64;
  --color-maroon-x11: #b5375b;
  --color-piggy-pink: #ffdbe6;
  --color-pink-2: #ffbacf;
  --color-pink-lace-2: #ffe6ed;
  --color-medium-vermilion: #e45c3e;
  --color-fulvous: #eb8204;
  --color-arsenic: #414141;
  --color-quick-silver: #a6a5a3;

  --color-dark-goldenrod: #bd8c11;
  --color-bistre-brown: #96700e;
  --color-philippine-gold: #ab7d0f;
  --color-golden-brown: #8c660d;
  --color-dark-bronze: #78570b;
  --color-medium-champagne: #f7e4af;
  --color-flax: #edd287;
  --color-antique-white: #f7edd4;

  --color-ochre: #bf7624;
  --color-dirty-brown: #a6671f;
  --color-dirty-brown-2: #a86820;
  --color-russet: #825119;
  --color-sepia: #6e4516;
  --color-champagne: #f7e3cb;
  --color-desert-sand: #edcca6;
  --color-antique-white-2: #f7ecde;

  --color-mango-tango-2: #ff8a3b;
  --color-fulvous: #e37900;
  --color-dark-coral: #c76738;
  --color-brown-crayola: #b05b32;
  --color-deep-peach: #ffc7a1;
  --color-just-blush: #f9ada5;
  --color-scenic-water: #87bfff;
  --color-cyan-blue: #3d7dc3;

  --color-granite-gray: #656565;
  --color-dark-liver: #4d4d4d;
  --color-arsenic: #424242;
  --color-raisin-black: #262626;

  --color-calamansi: #fffaa5;
  --color-lotion: #fafafa;
  --color-brown-nose: #754c24;
  --color-gainsboro: #dadae8;
  --color-azureish-white: #e1e1f0;
  --color-bright-yellow-crayola: #ff9d23;
  --color-maximum-blue: #50b2c2;
  --color-bright-navy-blue: #1777e3;

  --color-magnolia-2: #f7ebff;
  --color-pale-lavender: #e8c7fe;
  --color-purpureus: #8745b5;

  --color-eagle-green: #024c61;
  --color-fire-engine-red: #c9211c;
  --color-denim: #045ec4;
  --color-castleton-green: #015c36;
  --color-violin-brown: #614501;
  --color-windsor-tan: #693801;
  --color-french-violet: #830dd6;
  --color-lime-green: #13d649;
  --color-shiny-shamrock: #4da608;
  --color-satin-sheen-gold: #c39c3d;
  --color-bronze-metallic: #db7a08;
  --color-bronze-metallic-2: #a49b64;
  --color-royal-orange: #fc8d26;
  --color-very-pale-orange: #fcd8c3;
  --color-dark-electric-blue: #567086;
  --color-dark-electric-blue-2: #4e657a;
  --color-deep-space-sparkle: #435c70;
  --color-marigold: #f5a623;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
